<div class="container">
  <div class="card">
    <h1>TOp Sellers</h1>
    <div class="card-content">
      <ol>
        <% @books.each do |book| %>
        <li><%="#{book["title"]} by #{book["author"]}"%> </li>
        <% end %>
      </ol>

    </div>

  </div>
</div>
<%= render "layouts/products" %>
